/* =============== GLOBAL =============== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    min-height: 50vh;
    background: #f6f7f8;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

/* =============== CONTENEDOR DEL FORMULARIO =============== */
form {
    background: #ffffff;
    padding: 25px;
    width: 90%;
    max-width: 600px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
}

/* =============== TÍTULO =============== */
h2 {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

/* =============== LABELS =============== */
label {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    display: block;
    margin-bottom: 6px;
}

/* =============== CAMPOS DE TEXTO =============== */
textarea, input[type="text"], select {
    width: 96%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
    background: #f9fafb;
}

textarea:focus,
input[type="text"]:focus,
select:focus {
    border-color: #6366f1;
    background: #ffffff;
    box-shadow: 0 0 6px rgba(99,102,241,0.3);
}



/* ==== ESPACIADO ENTRE TÍTULOS Y CAMPOS ==== */
form label {
    display: block;          /* Que cada título quede arriba */
    margin-top: 20px;        /* Espacio entre título y título */
    margin-bottom: 5px;      /* Espacio entre título y su campo */
    font-weight: 600;        /* Más claridad en los títulos */
}



/* ==== TÍTULO PRINCIPAL ==== */
form h2 {
    text-align: center;
    margin-bottom: 25px;
}


/* =============== MAPA =============== */
#map {
    height: 300px;
    width: 100%;
    border-radius: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

/* =============== BOTÓN DE REGISTRO =============== */
input[type="submit"] {
    width: 100%;
    background: #000000;
    color: #ffffff;
    font-size: 18px;
    padding: 14px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: 0.25s;
    margin-top: 10px;
}

/* Hover blanco → texto negro */
input[type="submit"]:hover {
    background: #ffffff;
    color: #000000;
    border: 2px solid #000;
    transform: translateY(-2px);
}

/* ===== EVIDENCIA PERSONALIZADA ===== */
.btn-evidencia {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #000;
    transition: all 0.3s ease;
}

.btn-evidencia:hover {
    background-color: #fff;   /* blanco */
    color: #000;              /* texto negro */
}

.nombre-archivo {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #555;
}